body{
      padding: 0;
      margin:0;
      box-sizing: border-box;
}
container1{
      min-height: 100vh;
      width: 100%;
      background-color: rgb(211, 219, 219);
      font-size: 60%;
  }
  nav ul li {

      outline: none;
      list-style: none;
      display: inline;
      padding-left: 40px;
      font-size: 20px;
  
  }
  .header{
      display: flex;
      justify-content: space-between;
      padding: 40px;
      margin-right: 40px;
  }
  a{
      text-decoration: none;
      color: rgb(141,142,153);
      font-size: larger;
  }
  .content{
      margin-left: 80px;
      margin-top: -40px;
      display: flex;
  }
  h3 {
      color: rgb(240,149,75);
      font-size: 20px;
       margin-left: 40px;
          font-size: 30px;
   
   }
   button{
      background-color: rgb(26,160,171);
      color: whitesmoke;
      padding: 10px;
      width: 180px;
      border-radius: 5px;
      margin-top: 10px;
      font-size: 20px;
      border: none;
  }
  h1{
      font-size: 40px;
      line-height: 60px;
      margin-top: -10px;
  }
  .column1 h4{
      font-size: 25px;
      color: #8d8f99;
      line-height: 25px;
  }
  .column2 img{
      margin-top: 7%;
      padding-left: -8%;
      margin-left: 1%;
      height: 80%;
      width: 100%;
     }
     .column2{
      margin-left: 150px;
      border: solid 2px rgb(210, 248, 253);
      width: 600px;
        height: 500px;
      border-radius: 50%;
      border-width: 70px;
   }  
